/* Import Old Standard TT font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* bg for darkmode
.calc-container {
background-image: linear-gradient(rgb(228, 63, 63),rgb(92, 17, 102));
}
*/
/* bg for lightmode
.calc-container {
background-image: linear-gradient(rgb(51, 237, 243) 30%,rgb(60, 241, 142));
}
*/


body {
    margin: 0px;
    /*background-color:  rgb(239, 241, 247) ;*/
    /* background-image: linear-gradient(135deg,rgb(228, 63, 63),rgb(92, 17, 102)); */
    background-image: linear-gradient(-45deg,rgb(228, 63, 63),rgb(92, 17, 102),teal);
    font-family: 'Lato', sans-serif;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}



.hv-center {
     display: flex;
    justify-content: center;
    align-items: center; 
    height: 90vh;
}

.calc-container {
    background-image: linear-gradient(135deg,rgba(240, 181, 237, 0.712) 40%,rgb(60, 241, 142 /*, 0.7 */));
    font-family: 'Lato', sans-serif;
    border-radius: 16px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    background-size: 400%;
    animation: gradient 5s ease infinite;
    overflow: hidden;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.display {
    width: 244px;
    height: 70px;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
    overflow: auto;
}

.display--content--right {
    text-align: right;
}

.display__input {
    font-size: 20px;
}

.display__output {
    font-size: 26px;
    font-weight: 700;
    margin: 10px;
}

.btn-section {
    display: flex;
}

.scientific-btn {
    background-color: rgba(255, 255, 255, 0.808);
    position: absolute;
    transition: all .3s;
    margin-left: -264px;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
   /*  backdrop-filter: blur(8px); */
    cursor: pointer;
    display: flex;
    margin-top: 20px;
}

.scientific-btn--open {
    margin-left: 0;
}



.trigger {
    background-color: rgba(255, 255, 255, 0.555);
    width: 16px;
    border-radius: 4px;

}

.scientific-btn button {
    font-size: 20px;
    padding-left: 11px;
    padding-right: 11px;
}

.btn-holder {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.btn--top-radius--curve {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.btn--bottom-radius--curve {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn--bgcolor--light {
    background-color: rgba(255, 255, 255, 0.3);
}

button {
    background-color: transparent/* rgba(255, 255, 255, 0.5) */;
    padding: 22px;
    border: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    color: rgb(13, 134, 128);
}

button:focus {
    outline: none;
}

button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.angle-unit--active {
    color: rgb(9, 27, 194);
    font-weight: 700;
}

.btn--circle {
    background-color: teal;
    color: white;
    padding: 0;
    margin-bottom: -10px;
    font-size: 24px;
    height: 61px;
    width: 61px;
    border-radius: 50%;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}

.backarr {
    width: 20px;
}

.love {
    font-family: 'Lato', sans-serif;
    margin-top: -30px;
    margin-bottom: 0px;
    text-align: center;
} 

@supports (backdrop-filter: none) { /* For chrome */
    .calc-container {       
        backdrop-filter: blur(3px);/* */
        }
    .scientific-btn {     
        background-color: rgba(255, 255, 255, 0.555);
  
    backdrop-filter: blur(8px); /**/
    }
    button:hover {
        color: white;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(-45deg,rgb(228, 63, 63),rgb(92, 17, 102),teal);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite; 
    }

    .hv-center {
       height: 100vh;
   }

    .calc-container {
        background-size: 100%;
        animation: none;
    }

    button {
        font-weight: 700;
        font-size: large;
    }

    .scientific-btn {
        margin-left: -266px;
        margin-top: 8px;
    }

    .scientific-btn--open {
        margin-left: 0;
    }

    .scientific-btn button {
        font-size: 19px;
        font-weight: 500;
        padding: 19px;
        padding-left: 5px;
        
    }

    .angle-unit--active {
        color: rgb(9, 27, 194);
        font-weight: 700 !important;
    }
}